/* You can add global styles to this file, and also import other style files */
h1{
    color: #369;
    font-family: Arial;
    font-size: large;
    border-collapse: collapse; 
}
table{
    color: #370;
    font-family: Arial;
    font-size: large;
    border-collapse: collapse;
}